body{
    background-color: #bedcfa;
}

.circle-ul{
    list-style-type: circle;
    font-style: oblique;
    color: #0f30b6;
}

.heading{
    color: blue;
    font-style: italic;
    display: inline-block;
}

.paraHeading{
    font-size: 17px;
    font-style: oblique;
    color: #0f30b6;
}

.alpha-ol{
    list-style-type: upper-alpha;
    font-style: oblique;
    color: #0f30b6;
}

.tableHeading{
    color: #0f30b6;
    font-style: oblique;
}